<md-sidenav #sidenav mode="side" opened="true" class="sidenav">
	<div class="scrolling-content">
	    <div class="button-row">
		 	<button md-raised-button [mdMenuTriggerFor]="medicine">
		 		<i class="fa fa-medkit"> Medicine</i>
		 	</button>
		 	<span flex></span>
		 	<button md-raised-button [mdMenuTriggerFor]="settings" color="warn">
	 			<i class="fa fa-cog"> Settings</i>
	 		</button>
	 		 <span class="spacer"></span>
	 		 <span>{{userData.name}}</span>
	 		 <a routerLink='/logout' md-raised-button color="warn">
	 			<i class="fa fa-sign-out">Logout</i>
	 		</a>
	 	</div>
	 	<!-- MEDICINE RELATED SUB MENU-->
	 	<md-menu #medicine="mdMenu">
	 		<button md-menu-item>
	 			<md-icon>dialpad</md-icon>
	 			<span>Redial</span>
	 		</button>
	 		<button md-menu-item disabled>
	 		   <md-icon>voicemail</md-icon>
	 		   <span>Check voicemail</span>
	 		</button>
	 		<button md-menu-item>
	 			<md-icon>notifications_off</md-icon>
	 			<span>Disable alerts</span>
	 		</button>
	 	</md-menu>

	 	<!-- SETTINGS RELATED SUB MENU-->
	 	<md-menu #settings="mdMenu">
	 		<button md-menu-item routerLink="['/profile', { id: 'foo' }]" routerLinkActive="active">
	 			<i class="fa fa-user"> Profile</i>
	 		</button>
	 		<button md-menu-item>
	 			<i class="fa fa-home"> Store Settings</i>
	 		</button>
	 		
	 	</md-menu>
	</div>
</md-sidenav>
<button md-fab class="fab" (click)="sidenav.toggle()">
    <md-icon>check</md-icon>
</button>