<md-sidenav #sidenav mode="side" opened="true" class="sidenav">
	<div class="scrolling-content">
		<md-list>
		  <md-list-item>
		   	<button md-raised-button color="primary" routerLink="/home/{{userData._id }}" routerLinkActive="active" >
	 			<i class="fa fa-home">Home</i>
	 		</button>
		  </md-list-item>
		  <md-divider></md-divider>
		  <h2 md-subheader>Medicine</h2>
		  <md-list-item>
		    <button md-raised-button color="primary">
		 		<i class="fa fa-medkit"> Medicine</i>
		 	</button>
		  </md-list-item>

		  <md-divider></md-divider>

		  <h2 md-subheader>Settings</h2>
		  <md-list-item>
		    <button md-raised-button routerLink="/profile/{{userData._id }}" routerLinkActive="active" color="primary">
	 			<i class="fa fa-user"> Profile</i>
	 		</button>
		  </md-list-item>
		  <md-list-item>
		   	<button md-raised-button color="primary">
	 			<i class="fa fa-university"> Store Settings</i>
	 		</button>
		  </md-list-item>
		  
		   <md-divider></md-divider>

		   <md-list-item>
		   	 <a routerLink='/logout' md-raised-button color="warn">
	 			<i class="fa fa-sign-out">Logout</i>
	 		 </a>
		  </md-list-item>
		</md-list>
	</div>
</md-sidenav>
<button md-fab class="fab" (click)="sidenav.toggle()">
    <md-icon>check</md-icon>
</button>