  <div class="container">
            <div class="row">

                <!--Main column-->
                <div class="col-md-12">

                    <!--Post-->
                    <div class="post-wrapper">
                        <form>
                          <div class="group">
                            <input type="text"><span class="highlight"></span><span class="bar"></span>
                            <label>Name</label>
                          </div>
                          <div class="group">
                            <input type="email"><span class="highlight"></span><span class="bar"></span>
                            <label>Email</label>
                          </div>
                          <button type="button" class="button buttonBlue">Subscribe
                            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                          </button>
                        </form>
                    </div>
                    <!--/.Post-->

                </div>

            </div>
    </div>