<div fx-layout="row" fx-layout-align="center center"  fx-flex="60">
       <md-card>
          <md-card-header>
            <md-card-title>Login</md-card-title>
          </md-card-header>
          <md-card-content>
            <md-input>
              <md-placeholder>
                <i class="fa fa-user-o" aria-hidden="true"></i> User Name
              </md-placeholder>
            </md-input>
            <md-input type="password">
              <md-placeholder>
               <i class="fa fa-lock" aria-hidden="true"></i> Password
              </md-placeholder>
            </md-input>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button color="accent">Login</button>
          </md-card-actions>
        </md-card>
</div>

 <!--Footer-->
 <router-outlet name="footer"></router-outlet>
 <!--/.Footer-->