html{
	background-size:cover;
	main{
		margin: auto;
		margin-top: 14%;
		.login-card{
			width: 52%;
		    margin: 29px auto 29px;
		    height: 254px;
		    border-radius: 17px;
		    .fa{
				font-size: 1.3em;
		    	padding-right: 10px;
			}
			md-input-container{
				padding: 25px 0px 0px 0px;
			}
		}
	}
}
