html{
	background-size:cover;
	main{
		margin: auto;
		margin-top: 14%;
		.login-card{
			width: 52%;
		    margin: 0 auto;
		    height: auto;
    	    border-radius: 17px;
		    .fa{
				font-size: 1.3em;
		    	padding-right: 10px;
			}
			md-input-container{
				padding: 25px 0px 0px 0px;
			}
			[ng-message] {
 				color: red;
			}
			.loginSpinnar{
				position: absolute;
				z-index: 1;top: 30%;left: 30%;
			}
			.loginError{
				margin-bottom: 2px;
				border-radius: 17px;
			}
		}
		
	}
	.spacer{
		flex: 1 1 auto;
	}

}

.sidenav-fab-container {
  min-width: 500px;
  min-height: 300px;
}

.sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.sidenav-fab-container .md-sidenav-content,
.sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.scrolling-content {
  overflow: auto;
}

.fab {
  position: absolute!important;
  right: 20px;
  bottom: 10px;
}
